@import "tailwindcss";


@theme {
  @keyframes pulse {
    50% {
      opacity: 0.0;
    }
  }

  --animate-pulse: pulse 4s cubic-bezier(1, .5, .5, 1) infinite;
  --font-sans: Overpass,
  ui-sans-serif,
  system-ui,
  sans-serif,
  "Apple Color Emoji",
  "Segoe UI Emoji",
  "Segoe UI Symbol",
  "Noto Color Emoji";
  --font-serif: 'Bona Nova SC',
  ui-serif,
  Georgia,
  Cambria,
  "Times New Roman",
  Times,
  serif;

  --color-primary-950: oklch(0.05 0.021 252);
  --color-primary-900: oklch(0.10 0.021 252);
  --color-primary-800: oklch(0.15 0.032 252);
  --color-primary-700: oklch(0.20 0.06 252);
  --color-primary-600: oklch(0.30 0.09 252);
  --color-primary-500: oklch(0.40 0.119 252);
  --color-primary-400: oklch(0.50 0.141 252);
  --color-primary-300: oklch(0.60 0.144 252);
  --color-primary-200: oklch(0.70 0.126 252);
  --color-primary-100: oklch(0.80 0.084 252);
  --color-primary-50: oklch(0.90 0.045 252);


  --color-secondary-950: oklch(0.05 0.017 77);
  --color-secondary-900: oklch(0.10 0.021 77);
  --color-secondary-800: oklch(0.15 0.031 77);
  --color-secondary-700: oklch(0.20 0.042 77);
  --color-secondary-600: oklch(0.30 0.063 77);
  --color-secondary-500: oklch(0.40 0.083 77);
  --color-secondary-400: oklch(0.50 0.105 77);
  --color-secondary-300: oklch(0.60 0.12 77);
  --color-secondary-200: oklch(0.70 0.135 77);
  --color-secondary-100: oklch(0.80 0.135 77);
  --color-secondary-50: oklch(0.90 0.084 77);


  --color-tertiary-950: oklch(0.05 0.017 3);
  --color-tertiary-900: oklch(0.10 0.021 3);
  --color-tertiary-800: oklch(0.15 0.061 3);
  --color-tertiary-700: oklch(0.20 0.08 3);
  --color-tertiary-600: oklch(0.30 0.121 3);
  --color-tertiary-500: oklch(0.40 0.161 3);
  --color-tertiary-400: oklch(0.50 0.195 3);
  --color-tertiary-300: oklch(0.60 0.22 3);
  --color-tertiary-200: oklch(0.70 0.18 3);
  --color-tertiary-100: oklch(0.80 0.115 3);
  --color-tertiary-50: oklch(0.90 0.054 3);

  --color-neutral-950: oklch(0.98 0.01 252);
  --color-neutral-900: oklch(0.92 0.025 252);
  --color-neutral-800: oklch(0.80 0.025 252);
  --color-neutral-700: oklch(0.68 0.025 252);
  --color-neutral-600: oklch(0.55 0.025 252);
  --color-neutral-500: oklch(0.42 0.025 252);
  --color-neutral-400: oklch(0.30 0.025 252);
  --color-neutral-300: oklch(0.20 0.014 252);
  --color-neutral-200: oklch(0.15 0.014 252);
  --color-neutral-100: oklch(0.10 0.021 252);
  --color-neutral-50: oklch(0.05 0.021 252);
}