---
import { getResources, toDisplayResources } from "../lib/sonicjs";
import PageLayout from "../layouts/pagelayout.astro";
import PageSection from "../components/generic/pagesection.astro";
import Multicard from "../components/generic/multicard.astro";
import Resourcecard from "../components/resourcecard.astro";

const rawResources = await getResources()
console.log(rawResources)
const resources = toDisplayResources(rawResources)
// /files/uploads/
/* export const prerender = false; */

---

<PageLayout title="Resources">
    <PageSection>
        <h1 class="text-center font-serif text-neutral-950 text-5xl">Resources</h1>
        <Multicard elementMinSize="24rem">
            {
                resources.map((resource) => (
                    <Resourcecard resource={resource}/>
                ))
            }
        </div>
    </PageSection>
</PageLayout>
