---
import { getResources, toDisplayResources } from "../lib/sonicjs";
import PageLayout from "../layouts/pagelayout.astro";
import PageSection from "../components/generic/pagesection.astro";
import { Image } from "astro:assets";

const resources = await getResources().then(toDisplayResources);
// /files/uploads/
---

<PageLayout title="Resources">
    <PageSection>
        <h1>Resources</h1>
        <div class="flex flex-col gap-4 bg-white">
            {
                resources.map((resource) => (
                    <div>
                        {resource.thumbnailUrl && <Image src={resource.thumbnailUrl} alt="" inferSize/>}
                        <h2>{resource.title}</h2>
                        <p>{resource.content}</p>
                    </div>
                ))
            }
        </div>
    </PageSection>
</PageLayout>
