---
import PageSection from "./generic/pagesection.astro";
import BioSvg from "../images/vectors/how-pleasant-to-know.svg";
---

<PageSection id="bio" class="bg-neutral-300">
    <div class="flex flex-row flex-wrap-reverse gap-4 justify-between items-center w-full">
        <BioSvg />
        <div class="flex flex-col gap-3 w-full lg:w-2/3">
            <h2
                class="font-serif text-7xl text-neutral-950 tracking-tighter uppercase"
            >
                Bio
            </h2>
            <p class="font-sans text-xl text-neutral-950">
                As an educator, Steve Kramp has taught at UC Merced, the
                Franciscan University of Steubenville, and most recently at John
                Paul the Great Catholic University, where he served for seven
                years as Humanities Chair. His parallel work as a writer and
                performing artist has led to a range of poetry and nonfiction
                along with recurrent tinnitus from playing in several
                high-decibel bands. He lives with his family in the mountains
                outside San Diego.
            </p>
        </div>
    </div>
</PageSection>
