---
import PageSection from "./generic/pagesection.astro";
import SectionWrapper from "./generic/sectionwrapper.astro";
import bioImage from "../images/steve-kramp.jpg";
import { Picture } from "astro:assets";
---

<PageSection id="bio" wrapper="no">
    <SectionWrapper
        maxWidth="lg:w-6/8"
    >
        <div 
        class="flex flex-col md:flex-row justify-center items-center gap-12 w-full">
            <Picture
                src={bioImage}
                formats={["avif", "webp", "jpg"]}
                alt="Steve Kramp"
                class="w-full sm:w-96 min-w-96"
            />
            <div class="flex flex-col gap-3 w-full">
                <h2 class="font-serif text-4xl text-neutral-600">Bio</h2>
                <p class="font-sans text-base text-neutral-950">
                    Lorem ipsum qui esse magna culpa laborum veniam aliquip
                    tempor dolore quis sint anim. Voluptate aute ea do
                    incididunt consectetur elit enim nostrud reprehenderit. Ut
                    labore amet laboris. Mollit ex excepteur est commodo
                    deserunt adipiscing. Ullamco fugiat non cupidatat occaecat
                    velit id exercitation eu labore tempor. Nulla aute
                    exercitation sed aliquip aliqua officia irure velit sint
                    elit eiusmod. Commodo consectetur duis voluptate
                    reprehenderit dolor pariatur incididunt nostrud fugiat ad
                    id. Dolore nisi ullamco veniam adipiscing. Sit magna ut
                    consequat amet non in laborum. Culpa eu quis qui cupidatat
                    ex sunt occaecat laboris anim. Esse ea excepteur et minim
                    cillum est do enim mollit proident deserunt.
                </p>
            </div>
        </div>
    </SectionWrapper>
</PageSection>
