---
import PageSection from "./generic/pagesection.astro";
import SectionWrapper from "./generic/sectionwrapper.astro";
import speakingImage from "../images/steve-kramp-public-speaking.png";
import Learnmore from "./learnmore.astro";
import { Picture } from "astro:assets";
---

<PageSection id="bio" wrapper="no" class=" lg:h-148 xl:h-192 relative">
    <SectionWrapper maxWidth="lg:w-6/8" class="h-full">
            <div class="flex flex-col gap-3 w-full lg:w-1/2 h-full justify-center">
                <h2 class="font-serif text-7xl text-neutral-950 uppercase">Speaking</h2>
                <p class="font-sans text-xl text-neutral-950">
                    Some essential dialogues about cultural renewal don’t happen
                    on their own. Rather, they require deep preparation,
                    courage, and chemistry. The following topics spark grateful
                    interaction simply because 1) they matter, 2) anyone paying
                    attention to our culture knows they matter, and 3) no one
                    else is tracing these lines of thought today.
                </p>
                <Learnmore/>
            </div>
    </SectionWrapper>
        <Picture
            src={speakingImage}
            formats={["avif", "webp"]}
            alt="Steve Kramp giving a lecture at a podium. Several young people listen from the crowd"
            widths={[360, 500, 600, 700, 800, 900, 1024]}
            layout="constrained"
            fit="contain"
            position="right"
            pictureAttributes={{class:"h-full lg:absolute lg:top-0 lg:right-0 opacity-50"}}
            class="max-h-full w-auto"
        />
</PageSection>
